@using System.Text.Json;
@using Scheduler;
@using Scheduler.Domain.Services;

@inject IDateProvider DateProvider

@{
    IEnumerable<Event> events = (IEnumerable<Event>)this.ViewData["Events"];
    string title = this.ViewData["Title"].ToString();
    string today = this.DateProvider.Now.ToString(Constants.DATE_FORMAT);
    DateTime startDate = (DateTime)this.ViewData["Start"];
    DateTime endDate = (DateTime)this.ViewData["End"];
    string startDateString = startDate.ToString(Constants.DATE_FORMAT);
    string endDateString = endDate.ToString(Constants.DATE_FORMAT);
}

<div class="modal fade" id="searchListModalPopup" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header m-auto">
                <h2 class="text-center">@title</h2>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="btn-group mb-2 noPrintIfModal">
                        <form class="me-3" action="javascript:void(0);" onsubmit="filterEvents(this)" id="searchForm" autocomplete="off">
                            <div>
                                <div class="linkElement">
                                    <button type="button" class="buttonRed" onclick="showModalDropdown()" data-bs-auto-close="false" aria-expanded="false">Filter Results <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter these results using specific criteria."></i></button>
                                    <button class="buttonRed" type="reset" onclick="resetEvents()">Reset Filter <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Reset your filter criteria."></i></button>
                                </div>
                                <ul class="dropdown-menu p-3" style="width:120%" id="searchListModalDropdown">
                                    <h5 class="lead text-danger text-center">Filter Criteria <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose options below to filter your results."></i></h5>
                                    <div class="form-label">
                                        <label class="form-label">Event Date(s) <i class="bi bi-question-circle" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="<b>To use the PCYS Date Picker:</b><br /><br /><b>Picking a single date:</b> Click twice on the desired day.<br /><br /><b>Picking a range of days:</b> Click once on the starting day, then click on the ending day. The highlight between the days will show the range.<br /><br /><b>Adjusting times:</b> Use the dropdowns at the bottom. The starting time is on the left, the ending time is on the right.<br /><br />Once the desired dates and times are selected and shown at the bottom, click 'Apply' and confirm that the desired dates and times show in the resulting box.<br /><br />DO NOT click outside of the datepicker box without clicking 'Apply' or the new dates and times will NOT be applied."></i></label>
                                        <input type="text" name="searchdaterange" class="text-center form-control" />
                                    </div>
                                    <div>
                                        <input name="StartDate" type="hidden" id="StartDate" />
                                        <br />
                                    </div>
                                    <div>
                                        <input name="EndDate" type="hidden" id="EndDate" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Event Type</label>
                                        <select name="type" class="form-select">
                                            <option value="Event">Events</option>
                                            <option value="Non-Team Event">Non-Team Events</option>
                                            <option value="Practice">Practices</option>
                                            <option value="Game">Games</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Event Name</label>
                                        <input type="text" name="searchTerm" class="form-control" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Team Name</label>
                                        <select id="teamNameSearchFilter" name="teamName" class="form-select chosen">
                                            <option value=""></option>
                                            @foreach (Team t in (IEnumerable<Team>)ViewData["Teams"])
                                            {
                                                <option value=@t.Name>@t.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <div class="linkElement">
                                            <input type="submit" class="buttonGreen" value="Search" />
                                            <button type="button" class="buttonRed" onclick="closeDropdown()">Close</button>
                                        </div>
                                    </div>
                                </ul>
                                
                            </div>
                        </form>
                    </div>
                </div>
                <div id="searchModalTable">
                    <partial name="_ListModalTable" model="events"/>
                </div>
            </div>
            <div class="modal-footer noPrintIfModal">
                <div class="linkElement">
                    <button class="buttonGreen" onclick="window.print()">Print These Results</button>
                    <button type="button" class="buttonRed" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function (){
        $("#searchListModalPopup").modal("show");
    });

    function showModalDropdown() {
        $('#searchListModalDropdown').addClass('show');
    }

    function closeDropdown() {
        $('#searchListModalDropdown').removeClass('show');
    }

    $(document).ready(function () {

        $("#teamNameSearchFilter").chosen({
            no_results_text: "Sorry, I can't find that Team!",
            placeholder_text_single: "Start typing to select a Team...",
            width: "100%",
            search_contains: true
        });

    });

    var startDateString = "@startDateString";
    var endDateString = "@endDateString";
    var minDateString = "@today";
    var startDate;
    var startDateFormatted;
    var endDate;
    var endDateFormatted;
    var minDate;
    var minDateFormatted;
    startDate = moment(startDateString, "YYYY-MM-DD"); // Parse the start date string and specify the format
    startDateFormatted = startDate.format('M/DD/YYYY'); // Format the start date as desired
    endDate = moment(endDateString, "YYYY-MM-DD"); // Parse the end date string and specify the format
    endDateFormatted = endDate.format('M/DD/YYYY'); // Format the end date as desired
    minDate = moment(minDateString, "YYYY-MM-DD"); // Parse the min date string and specify the format
    minDateFormatted = minDate.format('M/DD/YYYY'); // Format the min date as desired
    $('#StartDate').val(startDateFormatted); // Set initial value of StartDate on the form
    $('#EndDate').val(endDateFormatted); // Set initial value of EndDate on the form


    $(function () {
        $('input[name="searchdaterange"]').daterangepicker({
            startDate: startDateFormatted,
            endDate: endDateFormatted,
            minDate: minDateFormatted,
            timePickerIncrement: 30,
            drops: "down",
            locale: {
                format: 'M/DD/YYYY'
            }
        }).on('apply.daterangepicker', function (ev, picker) {
            startDateFormatted = picker.startDate.format('M/DD/YYYY');
            endDateFormatted = picker.endDate.format('M/DD/YYYY');
            $('#StartDate').val(startDateFormatted); // Resets the value of StartDate when "Apply" is pressed
            $('#EndDate').val(endDateFormatted); // Resets the value of EndDate when "Apply" is pressed
        });
    });
    
    function filterEvents(e){
        $.ajax({
            url: '@Url.Action("filterModalEvents", "Dashboard")',
            data: {
                searchTerm: e.searchTerm.value,
                type: e.type.value,
                start: '@startDate.ToString()',
                end: '@endDate.ToString()',
                teamName: e.teamName.value
            },
            success: function(data) {
                $("#searchModalTable").html(data);
                $('#searchListModalDropdown').removeClass('show');
            }
        });
    }

        function resetEvents(e){
        $.ajax({
            url: '@Url.Action("filterModalEvents", "Dashboard")',
            data: {
                searchTerm: '',
                type: 'Event',
                start: '@startDate.ToString()',
                end: '@endDate.ToString()',
                teamName: ''
            },
            success: function(data) {
                $('.chosen option-selected').removeAttr('selected');
                $('.chosen').trigger('chosen:updated');
                $("#searchModalTable").html(data);
            }
        });
    }
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<style>
    .custom-tooltip .tooltip-inner {
        max-width: 500px;
    }
</style>

<style media="print">
    .noPrintIfModal {
        display: none;
    }

    html, body {
        height: 100%;
        overflow: hidden;
    }
</style>