@using Scheduler.Domain.Services;
@using Scheduler.ViewModels;
@using Scheduler;

@inject IDateProvider DateProvider

@model UpcomingEventsModalViewModel

@{
    this.ViewData["Title"] = "My Scheduled Practices";
    this.ViewData["EventType"] = nameof(Practice);

    string today = this.DateProvider.Now.ToString(Constants.DATE_FORMAT);
    string startDateString = this.DateProvider.Now.Date.ToString(Constants.DATE_FORMAT);
    string endDateString = this.DateProvider.Now.AddYears(2).ToString(Constants.DATE_FORMAT);
}

<div class="modal fade" id="practicesModalPopup" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header noPrintIfModal">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @if (this.Model.CoachTeamsCount != 0)
            {
                <div class="modal-body">
                    <div class="text-center">
                        <h2 class="mb-4">@this.ViewData["Title"]</h2>
                        <div class="btn-group mb-2 noPrintIfModal">
                            <form class="me-3" action="javascript:void(0);" onsubmit="filterPractices(this)" id="practicesFilterForm" autocomplete="off">
                                <div>
                                    <div class="linkElement">
                                        <button type="button" class="button buttonRed" onclick="showPracticesModalDropdown()" data-bs-auto-close="false" aria-expanded="false">Filter Results </button>
                                        <button class="button buttonRed" type="reset" onclick="resetPracticesFilter()">Reset Filter <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Reset your filter criteria."></i></button>
                                    </div>
                                    <ul class="dropdown-menu p-3" style="width:120%" id="practicesModalDropdown">
                                        <h5 class="lead text-danger text-center">Filter Criteria <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose options below to filter your results."></i></h5>
                                        <div>
                                            <div class="form-label">
                                                <label class="form-label">Event Date(s) <i class="bi bi-question-circle" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="<b>To use the PCYS Date Picker:</b><br /><br /><b>Picking a single date:</b> Click twice on the desired day.<br /><br /><b>Picking a range of days:</b> Click once on the starting day, then click on the ending day. The highlight between the days will show the range.<br /><br /><b>Adjusting times:</b> Use the dropdowns at the bottom. The starting time is on the left, the ending time is on the right.<br /><br />Once the desired dates and times are selected and shown at the bottom, click 'Apply' and confirm that the desired dates and times show in the resulting box.<br /><br />Do not click outside of the datepicker box without clicking 'Apply' or the new dates and times will <u>not</u> be applied."></i></label>
                                                <input type="text" name="practicesDaterange" class="text-center form-control" />
                                            </div>
                                            <input name="StartDate" type="hidden" id="StartDate" />
                                            <input name="EndDate" type="hidden" id="EndDate" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Event Name</label>
                                            <input type="text" name="searchTerm" class="form-control" />
                                        </div>
                                        @if (this.Model.CoachTeamsCount > 1)
                                        {
                                            <div class="mb-3">
                                                <label class="form-label">Team Name</label>
                                                <select id="coachTeamNameFilterPractices" name="teamName" class="form-select">
                                                    <option value=""></option>
                                                    @foreach (Team t in this.Model.CoachTeams)
                                                    {
                                                        <option value=@t.Name>@t.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                        else
                                        {
                                            Team? team = this.Model.CoachTeams.First();

                                            <select name="teamName" hidden value="@team.Name"></select>
                                        }

                                        <div class="text-center">
                                            <div class="linkElement">
                                                <input type="submit" class="button buttonGreen" value="Search" />
                                                <button type="button" class="button buttonRed" onclick="closePracticesDropdown()">Close</button>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="practicesModalTable" class="table-responsive w-100 m-auto">
                        <partial name="_CoachModalTable" model="this.Model" />
                    </div>
                </div>
                <div class="modal-footer noPrintIfModal">
                    <div class="linkElement">
                        <button class="button buttonGreen calendar-full" onclick="window.print()">Print These Results</button>
                        <button type="button" class="button buttonRed" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            }
            else
            {
                <div class="modal-body">
                    <h1 class="text-danger text-center display-5">You have no Teams</h1>
                </div>
                <div class="modal-footer noPrintIfModal">
                    <div class="linkElement">
                        <button type="button" class="button buttonRed" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#practicesModalPopup").modal("show");
    });

    function showPracticesModalDropdown() {
        $('#practicesModalDropdown').addClass('show');
    }

    function closePracticesDropdown() {
        $('#practicesModalDropdown').removeClass('show');
    }

    $(document).ready(function () {

        $("#coachTeamNameFilterPractices").select2({
            placeholder: "Start typing to select a Team...",
            width: "100%",
            dropdownParent: $('#practicesModalPopup')
        });

    });

    var startDateString = "@startDateString";
    var endDateString = "@endDateString";
    var minDateString = "@today";
    var startDate;
    var startDateFormatted;
    var endDate;
    var endDateFormatted;
    var minDate;
    var minDateFormatted;
    startDate = moment(startDateString, "YYYY-MM-DD"); // Parse the start date string and specify the format
    startDateFormatted = startDate.format('M/DD/YYYY'); // Format the start date as desired
    endDate = moment(endDateString, "YYYY-MM-DD"); // Parse the end date string and specify the format
    endDateFormatted = endDate.format('M/DD/YYYY'); // Format the end date as desired
    minDate = moment(minDateString, "YYYY-MM-DD"); // Parse the min date string and specify the format
    minDateFormatted = minDate.format('M/DD/YYYY'); // Format the min date as desired
    $('#StartDate').val(startDateFormatted); // Set initial value of StartDate on the form
    $('#EndDate').val(endDateFormatted); // Set initial value of EndDate on the form


    $(function () {
        $('input[name="practicesDaterange"]').daterangepicker({
            startDate: startDateFormatted,
            endDate: endDateFormatted,
            minDate: minDateFormatted,
            timePickerIncrement: 30,
            drops: "down",
            locale: {
                format: 'M/DD/YYYY'
            }
        }).on('apply.daterangepicker', function (ev, picker) {
            startDateFormatted = picker.startDate.format('M/DD/YYYY');
            endDateFormatted = picker.endDate.format('M/DD/YYYY');
            $('#StartDate').val(startDateFormatted); // Resets the value of StartDate when "Apply" is pressed
            $('#EndDate').val(endDateFormatted); // Resets the value of EndDate when "Apply" is pressed
        });
    });

    function filterPractices(e) {
        $.ajax({
            url: '@Url.Action("filterCoachEvents", "Dashboard")',
            data: {
                searchTerm: e.searchTerm.value,
                type: 'Practice',
                start: e.StartDate.value,
                end: e.EndDate.value,
                teamName: e.teamName.value
            },
            success: function (data) {
                $("#practicesModalTable").html(data);
                $('#practicesModalDropdown').removeClass('show');
            }
        });
    }

    function resetPracticesFilter() {
        $.ajax({
            url: '@Url.Action("filterCoachEvents", "Dashboard")',
            data: {
                searchTerm: '',
                type: 'Practice',
                start: '@startDateString',
                end: '@endDateString',
                teamName: ''
            },
            success: function (data) {
                $("#coachTeamNameFilterPractices").val(null).trigger('change');
                $("#practicesModalTable").html(data);
            }
        });
    }
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<style>
    .custom-tooltip .tooltip-inner {
        max-width: 500px;
    }
</style>

<style media="print">
    .noPrintIfModal {
        display: none;
    }

    html, body {
        height: 100%;
        overflow: hidden;
    }
</style>
