@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="layoutContainer" style="padding-left:20px;padding-right:20px;border:2px solid gray;font-size:12px;">
    <h3 class="text-center text-danger">Welcome to the PCYS scheduling application.</h3>
    <p class="lead">Use the options below to search for dates and times of practices, games, and other events at the PCYS facility.</p>
    <p class="lead">To view the schedule for your team, start by selecting a team name from the dropdown list. Then you can choose a date or date range from the calendar, or view all scheduled times for your team.</p>
    <p class="lead">To view scheduled events for the facility, please choose a date or date range. You can also view the schedule for individual fields by selecting from the list, or search for specific events by name.</p>
</div>
<br />
<div class="container mb-2">
    <div class="row">
        <div class="col-6 border border-2 searchContainer">
            <div class="text-center text-danger">
                <h3>Upcoming Games</h3>
            </div>
            <hr />

            <form method="post">
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="gameSearch" placeholder="Search games by team" class="form-control" />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </form>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Home Team</th>
                        <th scope="col">Opposing Team</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in this.Model.Games)
                    {
                        <tr>
                            <td>@game.HomeTeam!.Name</td>
                            <td>@game.OpposingTeam!.Name</td>
                            <td>@this.Html.DisplayFor(x => game.StartDate)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6 border border-2 searchContainer">
            <div class="text-center text-danger">
                <h3>Upcoming Events</h3>
            </div>
            <hr />

            <form method="post">
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="eventSearch" placeholder="Search events by name" class="form-control" />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </form>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th span="col">Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var events in this.Model.Events)
                    {
                        <tr>
                            <td>@events.Name</td>
                            <td>@this.Html.DisplayFor(x => events.StartDate)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
