@using Scheduler.Domain.Services;
@using Scheduler;

@inject IDateProvider DateProvider
@model IndexViewModel

@{
    this.ViewData["Title"] = "Home";

    string today = this.DateProvider.Now.ToString(Constants.DATE_FORMAT);
    string startDateString = this.DateProvider.Now.Date.ToString(Constants.DATE_FORMAT);
    string endDateString = this.DateProvider.Now.AddYears(2).ToString(Constants.DATE_FORMAT);
}

<div class="row text-center px-sm-5 mt-4 noPrintIfModal">
    <div class="col-12 border-bottom border-3 border-danger">
        <h3 class="text-danger">Welcome to the PCYS Scheduling Application</h3>
        <p class="lead">Use the Calendar below to search for Dates and Times of Practices, Games, and other Events at the PCYS facility. You can use the Filtering Menu in the List to refine your search.</p>
        <p class="lead">You can also use the Search Button to search for Events outside of the Calendar. Search by Team Name, Event Name, or a range of Dates.</p>
        @foreach (string warning in this.Model.ClosedWarnings)
        {
            <p class="text-danger lead">@warning</p>
        }
        <div class="text-end mb-2">
            <button class="button buttonGreen" data-bs-toggle="modal" data-bs-target="#mapModal">Facility Map</button>
        </div>
    </div>
</div>

<div id="searchBar" class="row mt-2">
    <div class="col-12 text-center">
        <div class="btn-group mb-2 noPrintIfModal">
            <form action="javascript:void(0);" onsubmit="searchEvents(this)" id="searchForm" autocomplete="off">
                <div>
                    <div class="linkElement">
                        <button type="button" class="button buttonRed" onclick="showHomepageDropdown()" data-bs-auto-close="false" aria-expanded="false">Search the Schedule <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="top" title="Search the Schedule using specific criteria."></i></button>
                        <button class="button buttonRed" type="reset" onclick="resetSearchEvents()">Reset Search <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset your search criteria."></i></button>
                    </div>
                    
                    <ul class="dropdown-menu p-3" id="homepage-dropdown">
                        <h5 class="lead text-danger text-center">Search Criteria <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose options below to search the Schedule."></i></h5>
                        <div>
                            <div class="form-label">
                                <label class="form-label">
                                    Event Date(s) <i class="bi bi-question-circle" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>To use the PCYS Date Picker:</b><br /><br /><b>Picking a single date:</b> Click twice on the desired day.<br /><br /><b>Picking a range of days:</b> Click once on the starting day, then click on the ending day. The highlight between the days will show the range.<br /><br />Once the desired dates are selected and shown at the bottom, click 'Apply' and confirm that the desired dates show in the resulting box.<br /><br />Do not click outside of the datepicker box without clicking 'Apply' or the new dates will <u>not</u> be applied."></i>
                                </label>
                                <input type="text" name="daterange" class="text-center form-control" />
                            </div>
                            <div>
                                <input name="StartDate" type="hidden" id="StartDate" />
                                <br />
                            </div>
                            <div>
                                <input name="EndDate" type="hidden" id="EndDate" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Event Type</label>
                            <select name="type" class="form-select">
                                <option value="Event">Events</option>
                                <option value="Non-Team Event">Non-Team Events</option>
                                <option value="Practice">Practices</option>
                                <option value="Game">Games</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Event Name</label>
                            <input type="text" name="searchTerm" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Team Name</label>
                            <select id="teamNameSearch" name="teamName" class="form-select chosen">
                                <option value=""></option>
                                @foreach (Team t in this.Model.Teams)
                                {
                                    <option value=@t.Name>@t.Name</option>
                                }
                            </select>
                        </div>
                        <div class="text-center">
                            <div class="linkElement">
                                <input type="submit" class="button buttonGreen" value="Search" />
                                <button type="button" class="button buttonRed" onclick="closeHomePageDropdown()">Close</button>
                            </div>
                        </div>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mapModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img class="w-100 m-auto"src="~/Images/PCYS Facility Map.png" />
            </div>
            <div class="modal-footer noPrintIfModal">
                <div class="linkElement">
                    <button class="button buttonGreen calendar-full" onclick="window.print()">Print The Map</button>
                    <button type="button" class="button buttonRed" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="calendar">
    @await this.Component.InvokeAsync("Calendar")
</div>

@section Scripts {
<script>
    function showHomepageDropdown() {
        $('#homepage-dropdown').addClass('show');
    }

    function closeHomePageDropdown() {
        $('#homepage-dropdown').removeClass('show');
    }

    $(document).ready(function () {

        $("#teamNameSearch").select2({
            placeholder: "Start typing to select a Team...",
            width: "100%"
        });

    });

    var startDateString = "@startDateString";
    var endDateString = "@endDateString";
    var minDateString = "@today";
    var startDate;
    var startDateFormatted;
    var endDate;
    var endDateFormatted;
    var minDate;
    var minDateFormatted;
    startDate = moment(startDateString, "YYYY-MM-DD"); // Parse the start date string and specify the format
    startDateFormatted = startDate.format('M/DD/YYYY'); // Format the start date as desired
    endDate = moment(endDateString, "YYYY-MM-DD"); // Parse the end date string and specify the format
    endDateFormatted = endDate.format('M/DD/YYYY'); // Format the end date as desired
    minDate = moment(minDateString, "YYYY-MM-DD"); // Parse the min date string and specify the format
    minDateFormatted = minDate.format('M/DD/YYYY'); // Format the min date as desired
    $('#StartDate').val(startDateFormatted); // Set initial value of StartDate on the form
    $('#EndDate').val(endDateFormatted); // Set initial value of EndDate on the form


    $(function () {
        $('input[name="daterange"]').daterangepicker({
            startDate: startDateFormatted,
            endDate: endDateFormatted,
            minDate: minDateFormatted,
            timePickerIncrement: 30,
            drops: "down",
            locale: {
                format: 'M/DD/YYYY'
            }
        }).on('apply.daterangepicker', function (ev, picker) {
            startDateFormatted = picker.startDate.format('M/DD/YYYY');
            endDateFormatted = picker.endDate.format('M/DD/YYYY');
            $('#StartDate').val(startDateFormatted); // Resets the value of StartDate when "Apply" is pressed
            $('#EndDate').val(endDateFormatted); // Resets the value of EndDate when "Apply" is pressed
        });
    });    

    function searchEvents(e) {
        $.ajax({
            url: '@Url.Action("searchModal", "Dashboard")',
            data: {
                start: e.StartDate.value,
                end: e.EndDate.value,
                type: e.type.value,
                searchTerm: e.searchTerm.value,
                teamName: e.teamName.value
            },
            success: function (data) {
                $('#modal').html(data);
                $('#homepage-dropdown').removeClass('show');
            }
        });
    }

    function resetSearchEvents() {
        console.log(@startDateString);
        console.log(@endDateString);
        $.ajax({
            url: '@Url.Action("searchModal", "Dashboard")',
            data: {
                start: @startDateString,
                end: @endDateString,
                type: 'Event',
                searchTerm: '',
                teamName: ''
            },
            success: function (data) {
                    $("#teamNameSearch").val(null).trigger('change');
            }
        });
    }

</script>
}

<style media="print">
    .noPrintIfModal {
        display: none;
    }

    html, body {
        height: 100%;
        overflow: hidden;
    }
</style>
