@using Scheduler.Infrastructure.Persistence;
@using Scheduler.Infrastructure.Extensions;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using Scheduler.Domain.Specifications;
@using Scheduler.Domain.Repositories;

@inject UserManager<User> UserManager
@inject ILeagueRepository LeagueRepository
@model Team

@if (this.Model is not null)
{
    <input hidden asp-for="Id" value="@this.Model.Id" />
}

@{
    List<SelectListItem> userList = UserManager.Users
       .Select(user => new SelectListItem
        {
            Text = user.ToString(),
            Value = user.Id.ToString(),
            Selected = Model != null && Model.UserId == user.Id
        })
       .ToList();

    userList.Add(new SelectListItem
    {
        Text = "Visiting Coach",
        Value = null, Selected = false 
    });

    IEnumerable<League> leagueList = await this.LeagueRepository
        .SearchAsync(new GetAllSpecification<League>());
}

@if (this.Model is not null)
{
    <input hidden asp-for="Id" />
}

}

<div class="row mb-3">
    <div class="col-sm">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" title="Team name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span> 
    </div>
</div>
<div class="row">
    <div class="col-sm-6 mb-3">
        <label asp-for="UserId" class="form-label">Coach</label>
        <select asp-for="UserId" title="Team coach" id="coaches" class="form-select">
            @foreach (var user in userList)
            {
                <option value=@user.Value>@user.Text</option>
            }
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="col-sm-6 mb-3">
        <label asp-for="League" class="form-label">League</label>
        <select asp-for="LeagueId" id="leagues" class="form-select">
            @foreach (var league in leagueList)
            {
                <option value="@league.Id">@league.Name</option>
            }
        </select>
        <span asp-validation-for="LeagueId" class="text-danger"></span>
    </div>
</div>

<div class="row mb-3">
    <div class="col-6 linkElement">
        <a asp-action="Details"
           asp-controller="League"
           asp-route-id="@this.Model?.LeagueId"
           class="button buttonRedOutline w-100">
            Cancel
        </a>
    </div>
    <div class="col-6 linkElement">
        <button type="submit" class="formSubmit button buttonGreen w-100">
            Submit
        </button>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#coaches").select2({
            width: "100%"
        });

        $("#leagues").select2({
            width: "100%"
        });
    });
</script>