@using Scheduler.Web.Controllers;
@using Scheduler.Web.Extensions;

@{
    this.Layout = "_Layout";

    string? userId = this.ViewContext.RouteData.Values["id"] as string;
}

<div class="row w-100 m-auto">
    <aside class="col-sm-3 mb-3">
        <a asp-action="Profile"
           asp-route-id="@userId"
           class="list-group-item list-group-item-action @this.Html.SelectedLink("Profile")">
            Profile <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Change your Personal Info."></i>
        </a>
        <a asp-action="Security"
           asp-route-id="@userId"
           class="list-group-item list-group-item-action @this.Html.SelectedLink("Security")">
            Security <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="right" title="Change your Password."></i>
        </a>
    </aside>
    <div class="col-sm-9">
        @this.RenderBody()
    </div>
</div>