@using Microsoft.AspNetCore.Identity;
@using Scheduler.Web.Controllers;

@inject UserManager<User> UserManager
@model IEnumerable<Event>

@foreach (var scheduledEvent in this.Model)
{
    <div class="col-sm-6">
        <div class="card border border-3 border-secondary">
            <div class="card-body">
                <h4 class="card-title">@scheduledEvent.Name</h4>
                <p class="card-text">
                    <h5>When:</h5>
                    @scheduledEvent.StartDate to @scheduledEvent.EndDate
                </p>
                <p class="card-text">
                    <h5>Where:</h5>
                    @foreach (var field in scheduledEvent.Fields)
                    {
                        @field.Name
                        <br />
                    }
                </p>

                @if (this.User.IsInRole(Role.ADMIN) ||
                     scheduledEvent.UserId.ToString() == this.UserManager.GetUserId(this.User))
                {           
                    <div class="row">
                        <div class="col-6">
                            <a asp-action="@nameof(ScheduleController.Update)"
                               asp-controller="Schedule"
                               asp-route-id="@scheduledEvent.Id"
                               asp-route-type="@scheduledEvent.GetType().Name"
                               class="btn btn-sm btn-secondary w-100">
                                Update
                            </a>
                        </div>
                        <div class="col-6">
                            <form asp-action="@nameof(ScheduleController.Delete)"
                                  asp-controller="Schedule"
                                  asp-route-id="@scheduledEvent.Id"
                                  method="post">
                                <button class="btn btn-sm btn-danger w-100">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}