@using Scheduler.Web.Persistence
@using Scheduler.Web.Extensions
@using Scheduler.Web.Controllers;
@using Microsoft.AspNetCore.Identity;

@inject SchedulerContext Scheduler
@inject UserManager<User> UserManager
@model IEnumerable<Event>

@foreach (var scheduledEvent in this.Model)
{
	<div class="col-sm-6 mb-4">
		<div class="card border border-3 border-secondary">
			<div class="card-body">
				<h4 class="card-title">@scheduledEvent.Name</h4>
				<p class="card-text">
					<h5>When</h5>
					<b>Starts</b> @this.Html.DisplayFor(model => scheduledEvent.StartDate)
					<br />
					<b>Ends</b> @this.Html.DisplayFor(model => scheduledEvent.EndDate)
				</p>
				<p class="card-text">
					<h5>Where</h5>
					@if (scheduledEvent.Fields is not null)
						@foreach (var field in scheduledEvent.Fields)
						{
							@field.Name
							<br />
						}
				</p>
				@if (scheduledEvent is Practice practice)
				{
					practice.Team ??= await this.Scheduler.Teams.FindAsync(practice.TeamId);

					if (practice.Team is not null)
					{
						<p class="card-text">
							<h5>Who:</h5>
							@practice.Team.Name
						</p>
					}
				}
				else if (scheduledEvent is Game game)
				{
					//game.HomeTeam ??= await this.Scheduler.Teams.FindAsync(game.HomeTeamId);
					// game.OpposingTeam ??= await this.Scheduler.Teams.FindAsync(game.OpposingTeamId);

					if (game.HomeTeam is not null &&
						game.OpposingTeam is not null)
					{
						<p class="card-text">
							<h5>Who</h5>
							@game.HomeTeam.Name vs. @game.OpposingTeam.Name
						</p>
					}
				}

				@if (this.User.IsInRole(Role.ADMIN) ||
					 scheduledEvent.UserId.ToString() == this.UserManager.GetUserId(this.User))
				{           
					<div class="row">
						<div class="col-6">
							<a asp-action="@nameof(ScheduleController.Update)"
							   asp-route-id="@scheduledEvent.Id"
							   asp-route-type="@scheduledEvent.GetType().Name"
							   asp-controller="Schedule"
							   class="btn btn-sm btn-secondary w-100">
								Update
							</a>
						</div>
						<div class="col-6">
							<form asp-action="@nameof(ScheduleController.Delete)"
								  asp-controller="Schedule"
								  asp-route-id="@scheduledEvent.Id"
								  method="post">
								<button class="btn btn-sm btn-danger w-100">
									Delete
								</button>
							</form>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}
