@using Microsoft.AspNetCore.Identity;
@using Scheduler.Core.Models.Identity;
@using Scheduler.Web.ViewModels;
@using Scheduler.Web.Controllers;

@model IEnumerable<User>
@inject UserManager<User> userManager;

@{
    this.ViewData["Title"] = "Manage Users";
}

<div>
    <h2 class="text-center text-danger">
        @this.ViewData["Title"]
    </h2>
</div>

<div class="w-75 m-auto">
    <table class="table table-sm">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Is Admin</th>
            <th scope="col" colspan="2" class="text-center">Actions</th>
        </tr>
        @foreach (var user in this.Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @if (userManager.IsInRoleAsync(user, "Admin").Result == true)
                    {
                        <span>Yes</span>
                    }
                </td>
                <td>
                    <a asp-action="@nameof(IdentityController.Update)"
                   asp-route-id="@user.Id"
                   asp-controller="Identity"
                   class="btn btn-sm btn-secondary">Update</a>
                </td>
                <td>
                    @if (userManager.GetUserAsync(User).Result?.Id != user.Id)
                    {
                        <form asp-action="@nameof(IdentityController.Delete)"
                      asp-route-id="@user.Id"
                      asp-controller="Identity"
                      method="post">
                            <button type="submit"
                            class="btn btn-sm btn-danger">

                                Delete
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
    <div class="text-start">
        <a asp-action="@nameof(IdentityController.Register)" asp-controller="Identity"
           class="btn btn-sm btn-primary">
            Add New User
        </a>
    </div>
</div>