@using Scheduler.Web.Persistence;
@using System.Security.Claims;
@using System.Text;

@inject SchedulerContext Scheduler
@model ScheduleViewModel<Event>

@{
    this.ViewData["Title"] = "Reschedule Event";
    this.ViewBag.Today = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");

    IEnumerable<SelectListItem> fields = this.Scheduler.Fields
        .ToList()
        .Select(field => new SelectListItem
        {
            Text = field.Name,
            Value = field.Id.ToString(),
            Selected = this.Model.Event.Fields.Contains(field)
        });

    StringBuilder builder = new();
    int fieldCount = this.Model.Event.Fields.Count;

    for (int i = 0; i < fieldCount; i++)
    {
        Field field = this.Model.Event.Fields[i];

        builder.AppendLine(i == fieldCount - 1
            ? field.Name
            : $"{field.Name},");
    }

    string formattedFields = builder.ToString();
}

<div class="row">
    <div class="col-sm-6 mx-auto">
        <div class="mb-3">
            <a asp-action="Events" asp-controller="Dashboard" class="btn btn-sm btn-danger">
                < Back
            </a>
        </div>

        <input hidden asp-for="Event.Id" value="@this.Model.Event.Id" />
        <input hidden asp-for="Event.UserId" value="@this.User.FindFirst(ClaimTypes.NameIdentifier)!.Value" />

        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-flex justify-content-between w-100">
                    <h5>Details</h5>
                    <input type="submit" class="btn btn-sm btn-secondary" />
                </div>
                <div class="mb-3">
                    <label asp-for="Event.Name" class="form-label h6"></label>
                    <input asp-for="Event.Name" class="form-control" />
                    <span asp-validation-for="Event.Name" class="text-danger"></span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between w-100">
                    <h5>Date</h5>
                    <div class="d-grid gap-2 d-md-block">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#rescheduleModal">Reschedule</button>
                        <div class="modal fade" id="rescheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Reschedule Event</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <label asp-for="Event.StartDate" class="form-label"></label>
                                                <input asp-for="Event.StartDate" min=@this.ViewBag.Today type="datetime-local" class="form-control" />
                                                <span asp-validation-for="Event.StartDate" class="text-danger"></span>
                                            </div>
                                            <div class="col-6">
                                                <label asp-for="Event.EndDate" class="form-label"></label>
                                                <input asp-for="Event.EndDate" min=@this.ViewBag.Today type="datetime-local" class="form-control" />
                                                <span asp-validation-for="Event.EndDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check mb-3">
                                                <input asp-for="IsRecurring" type="checkbox" class="form-check-input" id="recurrenceCheck">
                                                <label asp-for="IsRecurring" class="form-check-label"></label>
                                            </div>
                                            <div id="recurrenceInputs">
                                                @if (this.Model is not null &&
                                                this.Model.Event.Recurrence is not null)
                                                {
                                                    <partial name="Forms/_RecurrenceInputs" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Back</button>
                                        <input type="submit" value="Reschedule" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Cancel
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Event</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to cancel <b>@this.Model!.Event.Name</b>?
                                        It and all recurrences will be permanently removed.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                                        <input type="button" formaction="Delete" asp-route-id="@this.Model.Event.Id" value="Cancel" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6>Starts</h6>
                        @this.Model.Event.StartDate
                    </div>
                    <div class="col-6">
                        <h6>Ends</h6>
                        @this.Model.Event.EndDate
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between w-100">
                    <h5>Location</h5>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#relocateModal">
                        Relocate
                    </button>
                    <div class="modal fade" id="relocateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form asp-action="Relocate" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input hidden name="id" value="@this.Model.Event.Id" />

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Relocate Event</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label asp-for="FieldIds" class="form-label"></label>
                                        <select name="fieldIds" asp-items="fields" class="form-select" multiple size="6"></select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <input type="submit" value="Relocate" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <h6>Field(s)</h6>
                @formattedFields
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/RecurrenceForm.js"></script>
}

