@using System.Text.Json;

@{
    IEnumerable<Event> events = (IEnumerable<Event>)this.ViewData["Events"];
    string title = this.ViewData["Title"].ToString();
    DateTime startTime = (DateTime)this.ViewData["Start"];
    DateTime endTime = (DateTime)this.ViewData["End"];
    IEnumerable<SelectListItem> teamList = null;

    if(ViewData["FilteredTeamList"] is not null)
    {
        teamList = ((IEnumerable<string>)ViewData["TeamList"])
        .Select(f => new SelectListItem
                {
                    Text = f,
                    Value = f
                });
    }
}

<div class="modal fade" id="listModalPopup" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header m-auto">
                <h2 class="text-center">@title</h2>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="btn-group mb-2 noPrintIfModal">
                        <form class="me-3" action="javascript:void(0);" onsubmit="searchEvents(this)" id="searchForm" autocomplete="off">
                            <div>                                
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" onclick="showDropdown()" data-bs-toggle="dropdown" aria-expanded="false">Filter Results </button>
                                <ul class="dropdown-menu w-100 p-3">
                                    <div class="mb-3">
                                        <label class="form-label">Type</label>
                                        <select name="type" class="form-select">
                                            <option value="Event">Events</option>
                                            <option value="Practice">Practices</option>
                                            <option value="Game">Games</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Event Name</label>
                                        <input type="text" name="searchTerm" class="form-control" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Team Name</label>
                                        <input type="text" name="teamName" class="form-control" />
                                        
                                    </div>
                                    <input type="submit" class="btn btn-sm btn-secondary" value="Filter" />
                                </ul>
                            </div>
                        </form>
                        <button class="btn btn-sm btn-danger rounded" onclick="resetEvents()">Reset Filter</button>
                    </div>
                </div>
                <div id="modalTable">
                    <partial name="_ListModalTable" model="events"/>
                </div>
            </div>
            <div class="modal-footer noPrintIfModal">
                <button class="btn btn-sm btn-secondary" onclick="window.print()">Print These Results</button>
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function (){
        $("#listModalPopup").modal("show");
    });
    
    function searchEvents(e){
        $.ajax({
            url: '@Url.Action("SearchModalEvents", "Dashboard")',
            data: {
                searchTerm: e.searchTerm.value,
                type: e.type.value,
                start: '@startTime.ToString()',
                end: '@endTime.ToString()',
                teamName: e.teamName.value
            },
            success: function(data) {
                $("#modalTable").html(data);
                $('.dropdown-menu').removeClass('show');
            }
        });
    }

        function resetEvents(e){
        $.ajax({
            url: '@Url.Action("SearchModalEvents", "Dashboard")',
            data: {
                searchTerm: '',
                type: 'Event',
                start: '@startTime.ToString()',
                end: '@endTime.ToString()',
                teamName: ''
            },
            success: function(data) {
                $("#modalTable").html(data);
            }
        });
    }

    function showDropdown() {
        $('.dropdown-menu').addClass('show');
    }
</script>

<style media="print">
    .noPrintIfModal {
        display: none;
    }

    html, body {
        height: 100%;
        overflow: hidden;
    }
</style>