@model IEnumerable<Field>

<div class="text-center mb-3 mt-3">
    <a asp-action="Add" asp-controller="Field" class="btn btn-sm btn-primary">
        Add New Field
    </a>
</div>

<div class="row m-auto">
    @foreach (var field in this.Model)
    {
        <div class="col-lg-3 mb-3 field-card">
            <div class="card border border-3 border-success">
                <img src="~/Images/field.png" class="card-img-top rounded-0">
                <div class="card-body">
                    <h5 class="text-center">@field.Name</h5>
                    <div class="row">
                        <div class="col mb-2 text-center">
                            <a asp-action="Details"
                               asp-controller="Field"
                               asp-route-id="@field.Id"
                               class="btn btn-sm btn-secondary">
                                Update
                            </a>
                        </div>
                        <div class="col mb-2 text-center">
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#remove@(field.Id)">
                                Remove
                            </button>
                            <div class="modal fade" id="remove@(field.Id)" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">@field.Name</h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove @(field.Name)?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Close</button>
                                            <form asp-action="Remove"
                                                  asp-controller="Field"
                                                  asp-route-id="@field.Id"
                                                  method="post">
                                                <input type="submit" value="Remove" class="btn btn-sm btn-danger" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>