@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> UserManager
@model IEnumerable<League>

@if (this.User.IsInRole(Role.ADMIN))
{ 
    <div class="text-center mt-3">
        <a asp-action="Add" asp-controller="League" class="btn btn-sm btn-primary">
            Add League
        </a>
    </div>
}

<div class="row mt-3 m-auto w-100">
    @if (this.Model is null ||
         this.Model.Count() == 0)
    {
        <h2 class="text-center">
            There are currently no leagues.
        </h2>
    }
    else
    {
        @foreach (var league in this.Model)
        {
            <div class="col-lg-4 mb-3">
                <div class="card border-secondary border-3">
                    <a asp-action="Details" asp-route-id="@league.Id" asp-controller="League" class="card-body text-decoration-none">
                        <h4 class="text-danger" style="text-shadow: .5px .5px black;">@league.Name <i class="bi bi-question-circle text-dark calendar-full" style="text-shadow:none; font-size:17px;" data-bs-toggle="tooltip" data-bs-placement="right" title="Click anywhere on this card to bring up the Team Management page for the @league.Name League."></i></h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Coach</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (league.Teams.Count == 0)
                                {
                                    <tr>
                                        <td colspan="2">
                                            <b>@league.Name</b> has no teams in it.
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    for (int i = 0; i < league.Teams.Count; i++)
                                    {
                                        Team team = league.Teams.ToList()[i];

                                        <tr>
                                            <th scope="row">@team.Name</th>
                                            <td>@(team.User is null ? "Visiting Coach" : team.User.ToString())</td>
                                        </tr>

                                        if (i == 3)
                                        {
                                            <tr>
                                                <td colspan="2" class="text-center py-0">
                                                    <b>...</b>
                                                </td>
                                            </tr>

                                            break;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </a>
                </div>
            </div>
        }
    }
</div>
