@using Microsoft.AspNetCore.Identity;

@model IEnumerable<Team>

<div class="text-center mb-3 mt-3">
    <a asp-action="Add" asp-controller="Team" class="btn btn-sm btn-primary">
        Add New Team
    </a>
</div>

<div class="table-responsive w-75 m-auto">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">League</th>
                <th scope="col" colspan="2" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in this.Model)
            {
                <tr>
                    <th scope="row">@team.Name</th>
                    <td>@(team.League is null ? string.Empty : team.League.Name)</td>
                    <td class="text-end">
                        <a asp-action="Details"
                           asp-controller="Team"
                           asp-route-id="@team.Id"
                           class="btn btn-sm btn-secondary me-3">
                            Update
                        </a>
                    </td>
                        <td class="text-start">
                            <form asp-action="Remove"
                                  asp-controller="Team"
                                  asp-route-id="@team.Id"
                                  method="post">
                                <input type="submit" value="Remove" onclick="return confirm('Are you sure you want to remove @team.Name?')" class="btn btn-sm btn-danger" />
                            </form>
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>