@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> UserManager;
@model IEnumerable<User>

<div class="text-center mb-3 mt-3">
    <a asp-action="Register" asp-controller="Identity" class="btn btn-sm btn-primary">
        Register New User
    </a>
</div>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Admin</th>
                <th scope="col" colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in this.Model)
            {
                <tr>
                    <th scope="row">@user.FirstName @user.LastName</th>
                    <td>@user.Email</td>
                    <td>
                        @if (this.UserManager.IsInRoleAsync(user, Role.ADMIN).Result)
                        {
                            <span>✔</span>
                        }
                    </td>
                    <td>
                        @if (this.UserManager.GetUserAsync(User).Result?.Id != user.Id)
                        {
                            <form asp-action="AdminResetPassword"
                                  asp-controller="Identity"
                                  asp-route-id="@user.Id"
                                  method="post">
                                <button type="submit"
                                        class="btn btn-sm btn-warning">
                                    Reset Password
                                </button>
                            </form>
                        }
                    </td>
                    <td>
                        <a asp-action="Profile"
                           asp-controller="Identity"
                           asp-route-id="@user.Id"
                           class="btn btn-sm btn-secondary">
                            Update
                        </a>
                    </td>
                    <td>
                        @if (this.UserManager.GetUserAsync(this.User).Result?.Id != user.Id)
                        {
                            <form asp-action="Delete"
                                  asp-controller="Identity"
                                  asp-route-id="@user.Id"
                                  method="post">
                                <input type="submit" value="Remove" onclick="return confirm('Are you sure you want to remove @user.FirstName?')" class="btn btn-sm btn-danger" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>