@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> UserManager;
@model IEnumerable<User>

<div class="text-center mb-3 mt-3">
    <a asp-action="Register" asp-controller="Identity" class="btn btn-sm btn-primary">
        Register New User
    </a>
</div>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th colspan="2">Email</th>
                <th class="text-center">Admin</th>
                <th></th>
                <th scope="col" colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in this.Model)
            {
                <tr>
                    <th scope="row">@user.FirstName @user.LastName</th>
                    <td colspan="2">@user.Email</td>
                    <td class="text-center">
                        @if (this.UserManager.IsInRoleAsync(user, Role.ADMIN).Result)
                        {
                            <span>✔</span>
                        }
                    </td>
                    <td colspan="2" class="text-end">
                        @if (this.UserManager.GetUserAsync(User).Result?.Id != user.Id)
                        {
                            <form asp-action="AdminResetPassword"
                                  asp-controller="Identity"
                                  asp-route-id="@user.Id"
                                  method="post">
                                <button type="submit"
                                        class="btn btn-sm btn-warning">
                                    Reset Password
                                </button>
                            </form>
                        }
                    </td>
                    <td class="text-center">
                        <a asp-action="Profile"
                           asp-controller="Identity"
                           asp-route-id="@user.Id"
                           class="btn btn-sm btn-secondary">
                            Update
                        </a>
                    </td>
                    <td>
                        @if (this.UserManager.GetUserAsync(this.User).Result?.Id != user.Id)
                        {
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#remove@(user.Id)">
                                Remove
                            </button>
                            <div class="modal fade" id="remove@(user.Id)" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">@user.ToString()</h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove @(user.ToString())?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Close</button>
                                            <form asp-action="Delete"
                                                  asp-controller="Identity"
                                                  asp-route-id="@user.Id"
                                                  method="post">
                                                <input type="submit" value="Remove" class="btn btn-sm btn-danger" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>