@using Scheduler.Web.Controllers;

@model IEnumerable<Team>

@{
    this.ViewData["Title"] = "Manage Teams";
    this.Layout = "_Layout";
}

<div class="row">
    <h1 class="text-center text-danger">
        @this.ViewData["Title"]
    </h1>
</div>
<hr />

<div class="w-75 m-auto">
    <div class="text-start">
        <a asp-action="@nameof(TeamController.Create)"
           asp-controller="@nameof(Team)"
           class="btn btn-sm btn-primary">
            Create New Team
        </a>
    </div>
    <hr />
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Team Name</th>
                <th scope="col">League</th>
                <th scope="col" colspan="2" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in this.Model)
            {
                <tr>
                    <td>@team.Name</td>
                    <td>@team.League.Name</td>
                    <td class="text-end">
                        <a asp-action="@nameof(TeamController.Update)"
                        asp-controller="@nameof(Team)"
                        asp-route-id="@team.Id"
                        class="btn btn-sm btn-secondary me-3">
                            Update
                        </a>
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td class="text-start">
                            <form asp-action="@nameof(FieldController.Delete)"
                            asp-controller="@nameof(Team)"
                            asp-route-id="@team.Id"
                                    method="post">
                                <button class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    }
                        
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Admin" asp-action="Index"
       class="btn btn-sm btn-dark">
            Back to Dashboard
        </a>
    }
    else
    {
        <a asp-controller="Coach" asp-action="Index"
       class="btn btn-sm btn-dark">
            Back to Dashboard
        </a>
    }
</div>