@using Scheduler.Core.Models;
@using Scheduler.Web.Controllers;

@model IEnumerable<Team>

@{
    this.ViewData["Title"] = "Teams";
    this.Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            @this.ViewData["Title"]
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">League</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in this.Model)
                {
                    <tr>
                        <td>@team.Name</td>
                        <td>@team.League.Name</td>
                        <td>
                            <a asp-action="@nameof(TeamController.Update)"
                           asp-controller="@nameof(Team)"
                           asp-route-id="@team.Id"
                           class="btn btn-sm btn-secondary me-3">
                                Update
                            </a>
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <form asp-action="@nameof(FieldController.Delete)"
                              asp-controller="@nameof(Team)"
                              asp-route-id="@team.Id"
                                      method="post">
                                    <button class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="@nameof(TeamController.Create)"
           asp-controller="@nameof(Team)"
           class="btn btn-primary btn-sm">
            Create Team
        </a>
    </div>

    <div class="text-center">
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="Index"
           class="btn btn-sm btn-dark">
                Back to Dashboard
            </a>
        }
        else
        {
            <a asp-controller="Coach" asp-action="Index"
           class="btn btn-sm btn-dark">
                Back to Dashboard
            </a>
        }
    </div>
</div>