@using Scheduler.Web.Controllers;
@using Scheduler.Core.Services;

@inject IRepository<Team> teamService
@model IEnumerable<Event>

@{
    this.ViewData["Title"] = "Home Page";
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="layoutContainer" style="padding-left:20px;padding-right:20px;border:2px solid gray;font-size:12px;">
    <h3 class="text-center text-danger">Welcome to the PCYS scheduling application.</h3>
    <p class="lead">Use the options below to search for dates and times of practices, games, and other events at the PCYS facility.</p>
    <p class="lead">To view the schedule for your team, start by selecting a team name from the dropdown list. Then you can choose a date or date range from the calendar, or view all scheduled times for your team.</p>
    <p class="lead">To view scheduled events for the facility, please choose a date or date range. You can also view the schedule for individual fields by selecting from the list, or search for specific events by name.</p>
</div>
<br />
@*<div class="row">
    <div class="col-md border border-2">
        <div class="text-center text-danger">
            <h3>Upcoming Games</h3>
        </div>
        <hr />        
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Home Team</th>
                    <th scope="col">Opposing Team</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in this.Model.OfType<Game>())
                {
                <tr>
                    <td>@teamService.GetAsync(game.HomeTeamId).Result.Name</td>
                    <td>@teamService.GetAsync(game.OpposingTeamId).Result.Name</td>
                        <td>@Html.DisplayFor(model => game.StartDate)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md border border-2">
        <div class="text-center text-danger">
            <h3>All Upcoming Events</h3>
        </div>
        <hr />
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var events in this.Model)
                {
                    <tr>
                        <td>@events.Name</td>
                        <td>@Html.DisplayFor(model => events.StartDate)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@
<div id="calendar">
    @(
        await Component.InvokeAsync("Calendar")
        )
</div>
