@{
    IEnumerable<Event> events = (IEnumerable<Event>)this.ViewData["Events"];
    IEnumerable<Field> fields = (IEnumerable<Field>)this.ViewData["Fields"];
    string title = this.ViewData["Title"].ToString();
    DateTime currentDate = (DateTime)this.ViewData["CurrentDate"];
    int tableWidth = 15 + (fields.Count() * 4);
}

<div class="modal fade" id="gridModalPopup" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header m-auto">
                <h2 class="text-center">@title</h2>
            </div>
            <div class="modal-body fix-head">
                <table id="grid-table" class="table table-sm table-bordered" style="width:@tableWidth%">
                    <thead>
                        <tr>
                            <th>Time</th>
                @foreach (var f in fields)
                {
                    <th class="field-name">@f.Name</th>
                }
                </tr>
                </thead>
                    <tbody>
                        @{
                            int halfHour = 0;
                            int hour = 0;
                            int daypart = 0;
                        }

                        @for (var t = 0; t < 48; t++)
                        {
                            string timestring = "";

                            if(hour == 0)
                            {
                                timestring += "12";
                            }

                            if(hour < 13 && hour != 0)
                            {
                                timestring += hour;
                            }
                            else
                            {
                                if(hour != 0)
                                {
                                    timestring += (hour - 12); 
                                }
                            }

                            if (halfHour == 30)
                            {
                                timestring += ":30";
                            }
                            if (daypart == 0)
                            {
                                timestring += " AM";
                            }
                            else
                            {
                                timestring += " PM";
                            }
                            if (hour > 7 && hour < 23)
                            {
                                <tr>
                                    <td>@timestring</td>

                                    @foreach (var f in fields)
                                    {
                                        int eventhit = 0;

                                        foreach (var e in events)
                                        {
                                            IEnumerable<Field> fieldIteration;

                                            if (e.IsBlackout == true)
                                            {
                                                fieldIteration = fields;
                                            }
                                            else
                                            {
                                                fieldIteration = e.Fields;
                                            }

                                            foreach (var ff in fieldIteration)
                                            {
                                                if (ff.Name == f.Name || e.IsBlackout == true)
                                                {
                                                    DateTime cd = currentDate.Date;
                                                    DateTime sd = e.StartDate.Date;
                                                    DateTime ed = e.EndDate.Date;
                                                    int sh = e.StartDate.Hour;
                                                    int sm = e.StartDate.Minute;
                                                    int eh = e.EndDate.Hour;
                                                    int em = e.EndDate.Minute;

                                                    // Event starts before current day
                                                    if (sd < cd)
                                                    {
                                                        // Event ends after current day
                                                        if (ed > cd)
                                                        {
                                                            eventhit = 1;
                                                        }

                                                        // Event ends on current day
                                                        if (ed == cd)
                                                        {
                                                            // Event ends after current hour
                                                            if (eh > hour)
                                                            {
                                                                eventhit = 1;
                                                            }

                                                            // Event ends at half-hour of current hour
                                                            if (eh == hour && halfHour == 0 && em == 30)
                                                            {
                                                                eventhit = 1;
                                                            }
                                                        }
                                                    }

                                                    // Event starts on current day
                                                    if (sd == cd)
                                                    {
                                                        // Event ends after current day
                                                        if (ed > cd)
                                                        {
                                                            if (sh == hour)
                                                            {
                                                                if (sm == halfHour)
                                                                {
                                                                    eventhit = 1;
                                                                }

                                                                if (sm == 0 && halfHour == 30)
                                                                {
                                                                    eventhit = 1;
                                                                }
                                                            }

                                                            if (sh < hour)
                                                            {
                                                                eventhit = 1;
                                                            }
                                                        }

                                                        // Event ends on current day
                                                        if (ed == cd)
                                                        {
                                                            if (sh < hour)
                                                            {
                                                                if (eh > hour)
                                                                {
                                                                    eventhit = 1;
                                                                }

                                                                // Event ends at half-hour of current hour
                                                                if (eh == hour && em == 30 && halfHour == 0)
                                                                {
                                                                    eventhit = 1;
                                                                }
                                                            }

                                                            // Event starts on current hour
                                                            if (sh == hour)
                                                            {
                                                                // In the top of the hour
                                                                if (halfHour == 0)
                                                                {
                                                                    // Event ends at 30 minutes
                                                                    if (eh == hour && em == 30)
                                                                    {
                                                                        eventhit = 1;
                                                                    }

                                                                    // Event starts at top of hour
                                                                    if (sm == 0)
                                                                    {
                                                                        eventhit = 1;
                                                                    }
                                                                }

                                                                // In the bottom of the hour
                                                                if (halfHour == 30)
                                                                {
                                                                    // Event starts at top of hour and ends after the current hour
                                                                    if (sm == 0 && eh > hour)
                                                                    {
                                                                        eventhit = 1;
                                                                    }

                                                                    if (sm == 30)
                                                                    {
                                                                        eventhit = 1;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        // Variables to send to the Event scheduling form, and to check the current time
                                        int squareYear = currentDate.Year;
                                        int squareMonth = currentDate.Month;
                                        int squareDay = currentDate.Day;
                                        int squareHour = hour;
                                        int squareMinutes = halfHour;
                                        string squareField = f.Name;

                                        DateTime squareDate = new DateTime(squareYear, squareMonth, squareDay, squareHour, squareMinutes, 0);
                                        if (eventhit == 0)
                                        {
                                            if (squareDate > DateTime.Now)
                                            {
                                                <td><a asp-controller="Schedule" asp-action="" asp-route-date="@squareDate" asp-route-field="@squareField">*</a></td>
                                            }
                                            else
                                            {
                                                <td class="bg-warning"></td>
                                            }

                                        }
                                        else
                                        {
                                            if (squareDate > DateTime.Now)
                                            {
                                                <td class="bg-danger"></td>
                                            }
                                            else
                                            {
                                                <td class="bg-warning"></td>
                                            }
                                        }
                                    }
                                </tr>
                            }
                            
                            if(halfHour == 0)
                            {
                                halfHour = 30;
                            }
                            else
                            {
                                halfHour = 0;
                                hour++;
                            }

                            if(hour > 11)
                            {
                                daypart = 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function (){
        $("#gridModalPopup").modal("show");
    })
</script>