@using Scheduler.Web.Extensions;

@{
	this.Layout = "_Layout";
}

<div>
	<div class="list-group list-group-horizontal w-75 m-auto text-center">
		<a asp-action="Events"
		   class="list-group-item list-group-item-action @this.Html.SelectedLink("Events")">
			Calendar
		</a>
		<a asp-action="Teams"
		   class="list-group-item list-group-item-action @this.Html.SelectedLink("Teams")">
			Teams
		</a>
		@if (this.User.IsInRole(Role.ADMIN))
		{
			<a asp-action="Fields"
			   class="list-group-item list-group-item-action @this.Html.SelectedLink("Fields")">
				Fields
			</a>
			<a asp-action="Users"
			   class="list-group-item list-group-item-action @this.Html.SelectedLink("Users")">
				Users
			</a>
		}
	</div>
</div>
<div id="layoutContainer">
	@this.RenderBody()
</div>

@section Scripts {
	@await this.RenderSectionAsync("Scripts", false)
}