@using Scheduler.Core.Models;
@using Scheduler.Web.Controllers;

@model IEnumerable<Field>

@{
    this.ViewData["Title"] = "Fields";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            @this.ViewData["Title"]
        </h1>

        <a asp-action="@nameof(FieldController.Create)"
           class="btn btn-primary">
            Create
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var field in this.Model)
            {
                <tr>
                    <th scope="row">@field.Id</th>
                    <td>@field.Name</td>
                    <td>
                        <a asp-action="@nameof(FieldController.Update)"
                           asp-route-id="@field.Id"
                           class="btn btn-sm btn-secondary me-3">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form asp-action="@nameof(FieldController.Delete)"
                              asp-route-id="@field.Id"
                              method="post">
                            <button type="submit"
                                    class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>